<!DOCTYPE html>
<html lang="en">
<head>
	{% include '_wrapper_.html' %}
	<meta charset="UTF-8">
	<title>Projects - Matthew Larby</title>
	<link rel="stylesheet" href="/static?t=css&q=projects.css">
</head>
<body>
	<div>
		<h1>My Projects</h1>

		<div class="projects_overview">
			<div class="project" id="psychedel">
				<div class="project_desc">
					<h2>Psychedel</h2>
					<p>
						My own custom decorative LED light fixtures and a web management interface for controlling them.
						Also acts as the go-between for controlling the lights with a Google Nest or other smart assistants.
					</p>
				</div>
				<div class="project_image" id="psychedel">
				</div>
			</div>

			<div class="project" id="sp-members">
				<div class="project_desc" id="sp-members">
					<h2>Silchester Players Members Portal</h2>
					<p>
						A portal for members of the Silchester Players to access private content, files and announcements.
						Also runs some extra features of the public website such as the blog page and
						a searchable & filterable list of previous productions.
					</p>
				</div>
				<div class="project_image" id="sp-members">
				</div>
			</div>

			<div class="project" id="project_bookworm">
				<div class="project_desc" id="project_bookworm">
					<h2>Project Bookworm</h2>
					<p>
						My A-Level Computer Science project, a custom-made library management system for loaning
						large quantities of books to a small number of clients.
					</p>
				</div>
				<div class="project_image" id="project_bookworm">
				</div>
			</div>
		</div>
	</div>
</body>
</html>