@mixin text-outline($width: 2px, $colour: black) {
	text-shadow: -$width $width 0 $colour,
		$width $width 0 $colour,
		$width -$width 0 $colour,
		-$width -$width 0 $colour;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@keyframes dash1 {
  to {
    stroke-dashoffset: 2300;
	stroke-dasharray: 1150;
  }
}
@keyframes dash0 {
  to {
    stroke-dashoffset: 0;
	stroke-dasharray: 1150;
  }
}

$start: 0;
$end: 209;

body {
	background: black;
	//background-image: url("/static?t=img&q=circuit1.jpg");
	//backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	font-size: 1.25em;
}

@keyframes opac {
	to {
		opacity: 0;
	}
}

div.landing_content {
	position: absolute;
	top: 0;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	display: flex;
	gap: 1ch;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1.name {
		text-align: center;
		font-family: "Bebas Neue", sans-serif;
		color: white;
		font-weight: bold;
		font-size: 7em;
		letter-spacing: 0.07em;
		margin: 0;
		@include text-outline(2px);

		backdrop-filter: blur(5px);
		//filter: drop-shadow(0 0 4px #00FFFF);
		padding: 0.5ch 1ch;
		border-radius: 1ch;
	}

	ul {
		backdrop-filter: blur(5px);
		//padding: 0.5ch 1ch;
		border-radius: 1ch;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: calc(3*13ch);

		list-style-type: none;
		margin: 0;
		padding: 0;
	}

    ul.links {
	    font-family: "Bebas Neue", sans-serif;
	    font-weight: bold;
		font-size: 2em;
	    text-align: center;

		li {
			padding: 1ch;
			@include text-outline(1px, white);
			border-radius: 1ch;

			transition: background 0.7s;

			&:hover {
				background-color: rgba(255, 255, 255, 0.4);
				cursor: pointer;
			}
		}
	}

	ul.socials {
		backdrop-filter: blur(0);

		svg.social_icon {
			height: 7ch;
			width: 7ch;
			filter: drop-shadow(0.2ch 0.2ch 0.2ch gray);
			stroke: white;
			stroke-width: 0.44ch;
		}

		span {
			background: white;
			border-radius: 10000ch;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li:hover {
			cursor: pointer;
		}

		li.instagram {
			fill: #C13584;

			span {
				filter: drop-shadow(0.2ch 0.2ch 0.2ch gray);
			}

			svg {
				filter: drop-shadow(0.15ch 0.15ch 0.15ch gray);
			}
		}

		li.twitter {
			fill: #1D9BF0;
		}

		li.github {
			fill: #6e5494;
		}
	}

	ul.social_handles {
		backdrop-filter: blur(0);
		justify-content: center;

	    font-family: "Bebas Neue", sans-serif;
	    font-weight: bold;
		font-size: 1.5em;
	    text-align: center;

		li {
			@include text-outline(1px, white);
			border-radius: 10000ch;
			width: 0;
			padding: 1ch 0;
			overflow: hidden;
			transition: width 1s, padding 1s;
		}

		li.show, li:hover {
			width: 11ch;
			padding: 1ch 1ch;
		}

		li#instagram {
			&.show, &:hover {
				width: 12ch;
			}
			background: #C13584;
		}
		li#twitter {
			background: #1D9BF0;
		}
		li#github {
			background: #6e5494;
		}
	}
}

div#animateMe {
	pointer-events: none;
	background-color: black;

	animation: opac 1.5s ease-in forwards;
	animation-delay: 3s;

	z-index: 20 !important;

	g path {
		stroke-dasharray: 1150;
		stroke-dashoffset: 1150;
	}

	@for $i from $start + 1 through $end {
		//noinspection CssInvalidFunction
		g[class="Group $i"] path {
			animation: dash+mod($i,2) 1.5s ease-in-out forwards;
			animation-delay: random(2.5)+s;
		}
	}
}

@media (orientation: portrait) {
	body {
		font-size: 0.75em;
	}

	div.svg {
		height: 100vh;
		width: 100vw;
		//transform-origin: 50vh 50vw;
	}

	svg {
		//transform-origin: center;
		//transform: rotate(270deg) translateY(-100vw);
		//height: 100vw;
		//width: 100vh;
		g path {
			animation-duration: 1s !important;
		}

		&.circuit {
			transform: rotate(90deg);
		}
	}
}

div.svg {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

svg.circuit {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	z-index: 1;
	min-height: 100vh;
	min-width: 100vw;

	//top: 50%;
	//left: 50%;
	//transform-origin: center;
	stroke: white !important;
	object-fit: contain;

	.hasfill {
		//fill: white !important;
		stroke-width: 24px;
	}

	g path {
		stroke-dasharray: 1150;
		stroke-dashoffset: 0;
	}
}

