# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\004_Repos\phosphorus-acre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
